body{
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
    text-align: center;
    
    color: #A54686;       
}
.menu{
    background-color:#f47920;
    font-size: 25px;
    text-align: center;
    color:#005883;
}
.bordes{   
    border: #005883;    
}
iframe{
    position: relative;
    left: 32%;
    
}